@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  line-height: inherit;
}

body{
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.7;
  box-sizing: border-box;
  word-break: keep-all;
  text-align: center;
}

@media screen and (max-width: 768px){
  body{
    font-size: 3.33%;
  }
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  width: 100%;
  vertical-align: top;
}

.section{
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.section:nth-child(2n+1){background-color: #FCFCFA;color: #4A4144;}
.section:nth-child(2n){background-color: #20211E;color: #fff;}

.section__wrap{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 15rem;
}

.short, .contribution{
  margin: 1rem 0;
  font-weight: bold;
}
.link{
  border-radius: 100px;
  margin: 1rem 0;
  padding: .3rem 1.2rem;
  font-size: .9rem;
  border: 1px solid rgba(74, 65, 68, 0.3);
  background: #fff;
  color: #4A4144;
}

.subway{
  background-image: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url(portfolio/subway-min.png);
  background-position: 70% 0;
}
.did{
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(portfolio/did-min.png);
  background-position: 65% 0;
}
.oo{
  background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(portfolio/oo-min.png);
  background-position: 75% 0;
}
.bodabom{
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(portfolio/bodabom-min.png);
  background-position: 30% 0;
}
.seoul{
  background-image: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url(portfolio/seoul-min.png);
  background-position: 30% 0;
}
.twosome{
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(portfolio/twosome-min.png);
  background-position: 40% 0;
}
