@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  line-height: inherit;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.7;
  box-sizing: border-box;
  word-break: keep-all;
  text-align: center;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 3.33vw;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100%;
  vertical-align: top;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.section:nth-child(2n+1) {
  background-color: #20211E;
  color: #fff;
}

.section:nth-child(2n), .section:first-child {
  background-color: #FCFCFA;
  color: #4A4144;
}

.slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__title {
  height: 13rem;
}

.author {
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1rem;
  color: #01B0E8;
}

.badge {
  width: 6rem;
  height: 1.5rem;
  margin: 1rem 0;
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: bold;
  line-height: 1.5rem;
  border-radius: 100px;
  color: #fff;
  background: linear-gradient(to right, #F4369C, #01B0E8);
}

.logo {
  height: 5.5rem;
}

.short, .contribution {
  margin: 1rem 0;
  font-weight: bold;
}

.icon {
  height: 2rem;
}

.link {
  border-radius: 100px;
  margin: 2rem 0;
  padding: .3rem 1.2rem;
  font-size: .9rem;
  border: 1px solid rgba(74, 65, 68, 0.3);
  background: #fff;
  color: #4A4144;
}

.contribution {
  color: #01B0E8;
}

.sample {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 65vh;
}

.sample-right{
  left: inherit;
  right: 0;
}

.sample-small{
  height: 45vh;
}

.subway {
  background-image: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url(portfolio/subway-min.png);
  background-position: 70% 0;
}

.did {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(portfolio/did-min.png);
  background-position: 65% 0;
}

.oo {
  background-image: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(portfolio/oo-min.png);
  background-position: 75% 0;
}

.bodabom {
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(portfolio/bodabom-min.png);
  background-position: 30% 0;
}

.seoul {
  background-image: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url(portfolio/seoul-min.png);
  background-position: 30% 0;
}

.twosome {
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(portfolio/twosome-min.png);
  background-position: 40% 0;
}
