html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: #fff;
}

header {
  position: fixed;
  padding: 1.5rem 2rem;
  width: 100%;
  height: 5rem;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 31%, rgba(0, 0, 0, 0.75) 56%, rgba(0, 0, 0, 0.71) 60%, rgba(0, 0, 0, 0.02) 99%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 31%, rgba(0, 0, 0, 0.75) 56%, rgba(0, 0, 0, 0.71) 60%, rgba(0, 0, 0, 0.02) 99%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 31%, rgba(0, 0, 0, 0.75) 56%, rgba(0, 0, 0, 0.71) 60%, rgba(0, 0, 0, 0.02) 99%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

header img {
  position: absolute;
  opacity: 1;
  transition: .7s;
}

#menu {
  position: fixed;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  font-size: .8rem;
  opacity: .5;
  background: none;
}

#menu a.on {
  font-weight: bold;
}

#menu a~a::before {
  content: "";
  display: block;
  width: 0;
  height: 2rem;
  margin: 0 auto;
  opacity: .5;
  border: 0.5px solid #fff;
}

section {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  padding-right: 5rem;
  text-align: center;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

section h2 {
  margin: 1rem;
  padding: 3rem;
  font-size: 2rem;
}

section p {
  max-width: 65%;
  color: dimgray;
}

#main {
  background-image: url(../img/bg_sec_01.jpg);
}

#main h2{
  letter-spacing: 1rem;
  font-size: 4rem;
  line-height: 4.5rem;
}

#introduce {
  background-image: url(../img/bg_visual_01.jpg);
}

#recall {
  background-image: url(../img/bg_sec_02.jpg);
}

#second {
  background-image: url(../img/bg_sec_03.jpg);
}

#wwide{
  background-image: url(../img/bg_map.png);
  -webkit-background-size: 70%;
  background-size: 70%;
  background-repeat: no-repeat;
}

#guide {
  background-image: url(../img/bg_visual_03.jpg);
}

#reservation {
  background-image: url(../img/bg_visual_02.jpg);
}

#location {
  padding-right: 0;
}

#location .adress {
  width: 100%;
  height: 60%;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  background-image: url(../img/bg_sec_08.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

#location .table {
  width: 70%;
  height: 40%;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

#location table th, #location table td {
  padding: .5rem;
  font-size: .8rem;
}

footer {
  display: flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
  padding: 1rem;
  color: dimgray;
  padding: 2rem 5rem;
}

.footer-text{
  width: 70%;
}

.footer-text-company span{
  padding-right: 2rem;
}

@media screen and (max-width:600px) {
  #menu {
    display: none;
  }
  section {
    padding: 2rem;
  }
  section p{
    display: none;
  }

  #location{
    padding: 0;
  }
  footer{
    padding: 2rem;
  }

  th{
    display: none;
  }

  .footer-img{
    display: none;
  }

  .footer-text{
    width: 100%;
    text-align: center;
  }
}
