/* Header */
header{height: 60px;width: 100%;display: flex;justify-content: space-between;-ms-align-items: flex-start;align-items: flex-start;padding: 6vmin;position: fixed;top: 0;transition: 1s;z-index: 1;}
header hgroup a{display: flex;}
header hgroup h1 span{color: #C4FF00;}
header hgroup img{width: 40px;height: 20px;margin-bottom: 5px;align-self: flex-end;}
header hgroup h1{font-size: 1.5rem;}
header button{display: none;position: absolute;top: 6vmin;right: 6vmin;z-index: 1;transform: rotateY(180deg);}
header button.on{display: block;}
header nav a.on, header nav a:hover{font-weight: bold;}
@media screen and (max-width:699px) {
  header hgroup h1{font-size: 5vmin;opacity: 0.8;}
  header nav{display: none;position: fixed;top: 0;right: 0;width: 70vmin;height: 100vh;background: #333;padding-top: 12vmin;}
  header nav a{width: 100%;padding: 1rem 12vmin;font-size: 1.5rem;}
}
@media screen and (min-width: 700px) {
  header{height: 80px;padding: 1.5rem;}
  header hgroup{flex-basis: 40%;}
  header hgroup h1{font-size: 1.5rem;padding-left: 30px;}
  header button.on{display: none;}
  header nav{flex-grow: 1;display: flex;justify-content: space-around;-ms-align-items: center;align-items: center;height: 100%;}
  header nav a{text-align: right;width: 25%;padding: 30px;font-size: 1.2rem;}
}

/* Home visual */
#home{top: 0;width: 100%;height: 100vh;}
#home .bg{position: absolute;top: 0;width: 100%;height: 100%;background-image: url(../img/home01.jpg);background-position: 35% 0;background-size: cover;z-index: -1;-webkit-transition: 1.5s;transition: 1.5s;}
#home .cover{display: flex;justify-content: center;-ms-align-items:  center;align-items: center;background: rgba(0,0,0,.2);z-index: -1;}
#home p{position: absolute;width: 70vmin;padding: 5rem 1rem;text-align: center;font-size: 1.5rem;border: 1px solid #fff;line-height: 2.5rem;font-weight: bold;}
#home img{position: absolute;bottom: 5vh;width: 20px;}
@media screen and (min-width: 700px) {
  #home p{width: auto;font-size: 2rem;padding:1rem;border: none;border-bottom: 1px solid #fff;font-weight: normal;}
}

/* Visual navigation */
#visual{margin-bottom: 1.5rem;width: 100%;height: 35vmax;text-align: center;top: 60px;-webkit-background-size: cover;background-size: cover;}
#visual .cover{display: flex;flex-direction: column;justify-content: center;padding: 2rem;}
#visual h2{margin-bottom: 1rem;}
#visual h2::before{content: "";display: block;width: 100%;height: 4rem;}
#visual.about{background-image: url(../img/about.jpg);background-position: center 70%;}
#visual.order{background-image: url(../img/order.jpg);background-position: center;}
#visual.class{background-image: url(../img/class.jpg);background-position: center 60%;}
#visual.gallery{background-image: url(../img/gallery.jpg);background-position: center 70%;}
@media screen and (max-width:699px) {
  #visual h2{font-size: 6.666vmin;}
}
@media screen and (min-width: 700px) {
  #visual{height: 40vh;top: 80px;}
}


/* Main contents */
main{padding: 6vmin;}
main section{margin-bottom: 15vmin;}
main section h3{font-size: 1.5rem;margin-bottom: .5rem;}
main section p{padding: .5rem;}
main section
main.home section{display: block;height: auto;}
main.home section:first-child h3{margin: 2rem 0;}
main.home li{padding: .5rem;text-indent: 1rem;}
main.about section img{display: block;width: 80%;margin: 1rem auto;}
main.order section.align-center div{padding: 1rem;border: 1px solid #fff;}
main.order .tab{width: 100%;padding: 0;display: flex;justify-content: center;}
main.order .tab button{flex: 1 0;height: 3rem;margin-top: 1rem;border: 1px solid #fff;border-bottom: none;color: #fff;}
main.order .tab button ~button{border-left: none;}
main.order .tab button.on{background: #fff;color: #000;}
main.order .table{display: none;width: 100%;position: relative;overflow: hidden;border: 1px solid #fff;padding: 0;text-align: center;}
main.order .table.on{display: block;}
main.order .table>div{overflow-x: scroll;height: auto;-ms-overflow-style: none;}
main.order table{table-layout: fixed;border-collapse: collapse;padding: 1rem 0;width: 100%;column-width: 100px;border-bottom: 1px dotted #fff;}
th{padding: 1rem 0 .5rem;background: #000;}
td, th{width: 6rem;height: 3rem;}
main.order .text{padding: 1rem;}
@media screen and (max-width:699px) {
  main.home section:first-child div{text-align: center;}
  main.home img{display: block;margin: 1rem auto;}
  main.order .tab button{font-size: 3.33vmin;}
  main.order table{font-size: 3.33vmin;}
  th:first-of-type, tr:first-of-type{width: 20vmin;}
}
@media screen and (min-width: 700px) {
  main{max-width: 980px;width: 100%;margin: 0 auto;padding: 2rem;min-height: calc(100vh - 40vh)}
  main section{margin-bottom: 4rem;}
  main.home section:first-child>div{display: flex;justify-content: center;margin-bottom: 5rem;}
  main.home img{margin-right: 5rem;}
  main.about section .img {display: flex;}
  main.about section .img img{width: 480px; height: 276px;margin-right: 1rem;}
  main.about section .img div{display: flex;flex-direction: column;justify-content: center;}
  main.class{display: flex;justify-content: space-around;-ms-align-items: center;align-items: center;text-align: center;}
  main.class section{padding: 2rem 3rem;border: 1px solid #fff;}
  main.class h3{padding: .5rem;}
  main.class section div{padding: 0;}
}

/* Footer */
footer{width: 100%;background: #333;padding: 6vmin;-ms-word-break: keep-all;word-break: keep-all;}
footer div{max-width: 980px;width: 100%;margin: 0 auto;text-align: center;}
footer p{color: #ccc;font-size: 2vw;}
@media screen and (min-width: 700px) {
  footer{padding: 1.5rem;}
  footer p{font-size: 0.8rem;}
}

/* for IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
  header{transition: none;}
  #home .cover{justify-content: flex-start;}
  #home p{width: 100%;border-bottom: none;}
  .sound_only{text-indent: 0;line-height: normal;font-size: inherit;}
  main.order .tab{display: none;}
  main.order .table{display: block;margin-top: 1rem;}
  main.order caption{padding-top: 1rem;font-size: 2rem;font-weight: bold;}
}
