body{width: 100%;height: 100vh;}
h6{color: rgba(255,255,255,.8);font-size: 1rem;}


/* launch */
#launch{width: 100%;height: 100%;background: url(../img/launch.png);background-size: cover;}
#launch .cover{background: rgba(0,0,0,.7);text-align: center;}
#launch .cover>*{position: absolute;}
#launch .cover hgroup{top: 50%;left: 50%;transform: translate(-50%, -50%);}
@keyframes cover{to{background: rgba(0,0,0,.6);}}
@keyframes logo{to{top: 25%;}}
@keyframes login{to{opacity: 1;}}
#launch.ani .cover{animation: cover 2s ease 1s;animation-fill-mode: forwards;}
#launch.ani .cover hgroup{animation: logo 2s ease 1s;animation-fill-mode: forwards;}
#login{border: none;top: 35%;animation: login 2s ease 1.5s;animation-fill-mode: forwards;opacity: 0;}
#login form>*{width: 70%;height: 2.3rem;margin: .2rem;border-radius: 5px;}
#login form input{padding-left: 1rem;}
#login form a{height: 1.2rem;font-size: .9rem;color: #fff;}
#login form a:last-of-type{margin-bottom: 3rem;}
#login form button{color: #fff;position: relative;}
#login form button:first-of-type{background: #009132;font-weight: bold;}
#login form button:nth-of-type(2){background: #DD4E41;}
#login form button:last-of-type{background: #3C5A99;}
#login form button i{padding-right: .5rem;}


/* Navigation Bar */
header{justify-content: center;position: relative;z-index: 1;}
header h2{position: absolute;left: 3.5rem;font-size: 1.3em;color: #01782a;}
header img{height: 1.4rem;}
#back{position: absolute;left: .5rem;width: 3rem;height: 3rem;padding-top: .1rem;}


/* Tab Bar */
footer h2{font-size: .5rem;font-weight: normal;}
footer{bottom: 0;justify-content: space-between;color: #01782a;}
footer a{flex-basis: 25%;text-align: center;}
footer i{font-size: 1.3rem;color: #009132;}
footer .active i{font-size: 1.5rem;}
footer .active h2{font-weight: bold;}


/* Main */
main{height: 100%;padding: 3.5rem .5rem;display: grid;grid-gap: .3rem;grid-template-columns: 1fr 1fr;}
#home .order, #home .custom, #order .sandwich, #order .salad, #order .special, #stamp section:first-child{grid-column: 1/3;}
main section{box-shadow: 0 0 3px #aaa;}
main section a{width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;text-align: center;padding: 1rem;}
h3{color: #fff;font-size: 1.5rem;text-shadow: 0 0 .8rem #000;}
h4{color: #01782a;font-size: 1.1rem;position: relative;}
h6, p{margin-top: .3rem;}
h6{text-shadow: 0 0 .8rem #000;}
p{color: #aaa;font-size: .8rem;}
.deco{position: absolute;width: 2rem;height: 2rem;background: rgba(255, 200, 15, .6);border-radius: 50%;border-bottom-right-radius: 0;top: 50%;transform: translateY(-50%);z-index: -1;left: -.5rem;}

/* home */
#home{grid-template-rows: 1fr 1fr 1.3fr;}
.news, .stamp{grid-row: 3/5;}
.order {background: #E95B1D url(../img/order.png) no-repeat center;background-size: cover;}
.custom {background: #FFC80F url(../img/custom.png) 30% 50% no-repeat;background-size: auto 85%;}
.news {background: #4D006A url(../img/news.png) no-repeat center;background-size: 130%;}
.stamp {background: #14A8E6 url(../img/stamp.png);background-size: cover;}

/* order */
#order{grid-template-rows: 1fr 1fr 1fr 1fr;}
#order hgroup, .special h3{text-align: right;width: 100%;margin: 0 10%;}
#order h6{font-weight: normal;letter-spacing: -.1rem;font-size: .8rem;}
.sandwich{background: #A4C55A url(../img/sandwich.png) no-repeat 10% 50%;background-size: auto 100%;}
.salad{background: #A4C55A url(../img/salad.png) no-repeat 95% 50%;background-size: auto 80%;}
#order .salad hgroup{text-align: left;}
.recent{background: #FFC80F url(../img/recent.png) no-repeat 70%;background-size: auto 80%;}
.special{background: #A4C55A url(../img/special.png) no-repeat 0 -20%;background-size: auto 200%;}

/* card */
#card section{height: 30vh;padding-bottom: 1rem;}
#card a{display: flex;flex-direction: column;}
#card img{margin: 0 auto;flex-basis: 60%;width: 100%;}
#card #add{position: fixed;box-shadow: none;width: 3rem;height: 3rem;border-radius: 50%;background: #009132;bottom: 4rem;right: 1rem;box-shadow: 0 0 10px #aaa;}
#card #add i{font-size: 1.5rem;color: #fff;transform: translateY(-.2rem);}
#card section:last-child{margin-bottom: 3.5rem;}
#card.new section{height: 350px;}
#card.new a{padding: 0;justify-content: space-between;}
#card h4{margin: 0 1rem;word-break: keep-all;}
#card.full{display: block;}
#card.full section{width: auto;height: auto;padding: 0;}

/* stamp */
#stamp{grid-template-rows: 70% 1fr;}
#stamp section{padding: .5rem 1rem;overflow: auto;position: relative;}
#stamp h4{padding: .3rem 0;}
#stamp div{height: 80%;overflow: scroll;}
#stamp p{color: #000;width: 100%;padding: .3rem 0;display: flex;justify-content: space-between;}
#stamp p span:first-child{flex-basis: 2rem;color: #009132;}
#stamp p span:last-child{flex-basis: 4rem;text-align: right;overflow: hidden;color: #aaa;}
#stamp a{display: inline;color: #aaa;}
#stamp .more{position: absolute;top: 1rem;right: 1rem;color: #FFC80F;font-weight: bold;width: 1rem;height: 1rem;}
.stampcard{background: #FFC80F;display: flex;flex-direction: column;justify-content: space-around;}
.stampcard hgroup{margin: 0 auto;display: flex;align-items: center;}
.stampcard h4{margin-left: .5rem;font-size: 1.5rem;display: inline-block;}
.stampcard img{width: 1.5rem;}
.stampcard>div{display: flex;flex-wrap: wrap;justify-content: space-around;align-items: center;}
.stampcard span{background: #fff;display: inline-block;width: 70px;height: 70px;border-radius: 50%;border: 2px solid #ccc;margin: 3px 0;font-size: 12px;color: #ccc;font-weight: bold;display: flex;justify-content: center;align-items: center;}
.stampcard span>span{width: 60px;height: 60px;border: 2px dotted #ccc;text-align: center;}
.stampcard span.reward{border: 3px solid #009132;}
.stampcard span.reward>span{border: 2px dotted #009132;color: #009132;}

/* list */
#list{grid-template-columns: 1fr;grid-gap: .5rem;}
#list img{width: 100%;}
#list section:not(.ad){display: grid;grid-template-columns: 1fr 3fr;padding: .5rem;}
#list section.bell{background: #A4C55A;}
#list section.stampcard{background: #FFC80F;}
#list section.ad{background: #E2DFDA;height: 126.5px;}
#list section.ad img{height: 126.5px;}
#list section p{display: flex;align-items: center;font-weight: bold;color: #fff;font-size: .9rem;margin-top: 0;padding: .3rem;word-break: keep-all;}
#list section:last-child{margin-bottom: 3.5rem;}

/* more */
#more{grid-template: 100%/1fr;}
#more ul, #more form{box-shadow: 0 0 3px #aaa;overflow: scroll;}
#more li{margin: 0 1rem;padding: 1rem;position: relative;}
#more li~li{border-top: 1px solid #ccc;}
#more i{margin-right: 1.5rem;width: 1.5rem;text-align: center;font-size: 1.2rem;}
#more i.fa-chevron-right{color: #FFC80F;position: absolute;right: -1rem;top: 50%;transform: translateY(-50%);}
#more form{height: 3rem;display: flex;align-items: center;justify-content: space-around;margin: 1rem;background: #fff;}
#more form button{color: #009132;font-size: .9rem;width: 3rem;height: 3rem;}
#more form i{margin: 0 auto;}
#more form input{width: 80%;height: 100%;padding-left: 1rem;}
#more.map section{background: url(../img/map.png);background-size: cover;}
