/* ------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------ */
body {
  word-break: keep-all;
  background: #f8f9fa;
}

.fw-lighter {
  font-weight: lighter;
}

.flcenter {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* ------- ABOUT ------- */
/* Yellow #feae01 */
/* Purple #302b6d */



/* ------------------------------------ */
/* HEADER */
/* ------------------------------------ */
.hero-img {
  height: calc(100vh - 60px);
  background-image: url(../img/main_bg_img02.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
#nav {
  min-height: 60px;
  background: #302b6d;
}

#content {
  margin-top: 1rem;
}

#content>section {
  margin: 2rem auto;
}

h3{
  margin-top: 1.5rem;
  color: #feae01;
}

#sub-title{
  text-align: center;
}

#sub-title p{
  font-weight: lighter;
  color: #302b6d;
}


/* ------------------------------------ */
/* FOOTER */
/* ------------------------------------ */

#footer {
  color: #fff;
  font-weight: lighter;
}

#footer p {
  margin: 0 .5rem;
}

#footer span {
  padding-right: 20px;
}


/* ------------------------------------ */
/* INDEX */
/* ------------------------------------ */

/* ------------ ABOUT ------------ */
.about-text {
  font-size: 1.2rem;
  text-align: center;
  color: #302b6d;
}

.about-article {
  text-align: justify;
  word-break: break-all;
}

.about-title {
  text-align: left;
}

.content-live {
  background: #f2f1ea;
}

/* ------------ LIVE SEOUL ------------ */
.live-title {
  padding-top: 1.5rem;
  font-size: 2rem;
}

.live-title span {
  color: #feae01;
  font-style: italic;
}

.youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ------------ COURSE ------------ */
.crs-rcmd {
  background: #fff;
}

.rcmd-text{
  text-align: center;
}

.rcmd-icon {
  position: relative;
  width: 120px;height: 120px;
  margin: .5rem;
  transition: transform .3s
}

.rcmd-icon:hover{
  display: block;
  transform: scale(1.1);
}

.rcmd-icon-img{
  position: absolute;
  width: 100%;
}

.rcmd-icon-title {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
}

.rcmd-icon-sports{
  top: 53%;
}

.crs-photo {
  background: #302b6d;
  transition: background .3s;
}

.crs-photo:hover{
  background: linear-gradient(rgba(48, 43, 108,.9), rgb(46, 42, 89));
}

.crs-photo h3{
  color: #fff;
}

/* ------------ EVENT ------------ */
@media screen and (max-width: 900px){
  .carousel-indicators{
    display: none;
  }
  .content-event img{
    width: 140% !important;
    margin-left: -20%;
  }
}

/* ------------------------------------ */
/* HISTORY */
/* ------------------------------------ */
.history{
}
